.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-content: center;
}

.input {
  border-radius: 6px;
  border-width: 2px;
  width: 350px;
  height: 30px;
  font-size: 18px;
  border-color: black;
}

.submit-btn {
  width: 120px;
  border-radius: 12px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: cornflowerblue;
  color: aliceblue;
  border: cornflowerblue 2px;
}
